a*{margin: 0; padding: 0;}
.wrapper{
    width: 980px;
    margin: auto;
}
.sidebar{
    float: left;
    width: 300px;
}
.content{
    float: left;
    width: 680px;
}
ul{
    list-style: none;
}
.groups ul{
    padding-left: 20px;
}